@import "_imports";

/*	TYPOGRAPHY
	========== */

/* Elements */

html {
	font-family: $sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
h1 {
	font-size: 2.44em;
	font-family: $serif;
	font-weight: normal;
}
h2 {
	font-size: 1.95em;
	margin-top: 0;
	font-family: $serif;
	font-weight: normal;
}
h3 {
	font-size: 1.5em;
	font-family: $serif;
	font-weight: 100;
	border-bottom: 2px solid #eee;
	/* display: inline-block; */
	padding-bottom: .25em;
}
h4 {
	font-size: .9em;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
h5 {
	font-size: .9em;
	font-family: $serif;
	font-style: italic;
	font-weight: normal;
}
h6 {
	font-size: .8em;
	font-family: $sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}
p {
	margin: 0;
	margin-bottom: .75em;
}
p+h3,
p+h4,
p+h5,
p+h6 {
	margin-top: 2em;
}

.u-lContent {
	font-size: 1.1em;
	font-family: $sans-serif;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 1.25em;
}

ul,
ol {
	margin: .64em 0;
}
li, td, th {
	line-height: 1;
	font-size: 1rem;
	font-weight: normal;
}
li {
	margin: 0 0 0.327em;
}
th {
	font-weight: $fontWeightBold;
}

/* Main page content */

.u-lMain {
	font-size: 100%;
}

.u-pageTitle {
	margin-top: 0;
}

/* u-lAside sidebar styles */

.u-lAside {

	h1 {
		font-size: 1.953em;
	}

	h2 {
		font-size: 1.562em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: .9em;
	}
	h6 {
		font-size: .8em;
	}

	p,
	ol,
	ul {
		font-size: 1em;
		font-weight: 300;
	}

	ul,
	ol {
		margin-bottom: 0.64em;
	}

	li {
		margin-bottom: 0.327em;
		line-height: 1.2;
	}

}

/* Ask Ray what he thinks of this */

@media all and (min-width: $tiny) {

	/*	Masthead
		-------- */

	.u-Masthead__vassar {
		@include v-pixel-fallback("font-size", 1rem);
		font-weight: $fontWeightNormal;
		height: auto;
	}

}


/*	Masthead
	-------- */

.u-Masthead__siteName {
	font-family: $serif;
	font-weight: normal;
	font-size: 1.4em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0;
}
.u-pageHome .u-Masthead__siteName {
	font-size: 1.8em;
	font-weight: 100;
}
.u-Masthead__vassar {
	font-style: italic;
}
.u-Search__field {
	font-family: $sans-serif;
}

/*	Nav
	--- */

.u-NavSite__itemContainer {
	margin: 0.5em 0 0 0;
}
@media all and (min-width: $small) {
	.u-NavSite__itemContainer {
		margin: 0;
	}
	.u-NavSite__level--2 .u-NavSite__itemContainer {
		margin-top: .2em;
	}
}
	
	
/*	News
	---- */

.u-ArticleListItem .u-ArticleListItem__title {
	text-transform: none;
	letter-spacing: normal;
}
.u-ArticleListItem__label--dateline__posted {
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*
.u-ArticleListItem .u-ArticleListItem__title {
	font-weight: normal;
	font-family: $serif;
	line-height: 1.2;
}
*/

/*	Bios
	---- */

.u-BioList__name {
	margin-bottom: .125em;
	padding-bottom: .125em;	
}



@import "enst-additions";











